<div class="row">
	
	<div class="col-md-3">
		<table>
			<thead>
				<tr>
					<th>User</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, index| %>
			    <tr>
			      <td><%= link_to "#{user.name}", "#", class: "start-conversation","data-sid" => current_user.id, "data-rip" => user.id %></td>
			    </tr>
				<% end %>
			</tbody>
		</table>
	</div>


	<div class="col-md-9">
	
	</div>

</div>
